<h1>Your membership is now cancelled</h1>
<p>
  As per your request, we have cancelled your membership with the Vancouver Biodiesel Co-op.  If you have any feedback for the co-op about why you're cancelling your account, just reply to this email and it will go to our Board of Directors.
</p>
<p>
  We have securely your billing information from our systems and your membership is no longer active.
</p>
