<h1>Co-op Billing Admin</h1>
<p>This is the admin console for the Biodiesel co-op billing system.</p>
<p>
<ul>
  <li><a href="/unpaid">Unpaid transactions</a></li>
</ul>
</p>

<hr />
<a href="/logout">Click here</a> to logout.
