<h1>Vancouver Biodiesel Co-op Billing Tool</H1>
<p>Welcome to the VBC Billing Tool.  This service processes biodiesel
purchases for Co-op members.  At present time, this service is available
to Co-op Admin staff only.
</p>
<p>
  As a co-op member, when you purchase biodiesel from a Vancouver Biodiesel Co-op pump, the cost of the fuel will be
  charged to the credit card you gave the co-op when you joined.
</p>

