<h1>Member Login</H1>
[% INCLUDE message.tt %]
<p>Login to the member area:</p>
[% INCLUDE 'login-form.tt' action="login" %]

<hr />
<p><a href="/forgot-password">I don't know my password!</a></p>
<p><a href="/forgot-email">I don't know my email address!</a></p>
