<form action="/members" method="GET">
  [% msg %]
  <input type="text" class="mini" id="member_jump" name="jump_to" size="4" />
  <input type="submit" class="btn" value="Go!" />
</form>
<script> jQuery( function () { $("#member_jump").focus(); }); </script>
