<h1>Biodiesel Member [% member.member_id %]</h1>

[% INCLUDE 'member-detail-form.tt' %]

<hr />
<p>
<a href="/members/[% member.member_id %]">Go back to this member.</a><br />
<a href="/admin">Go back to the admin section</a><br />
</p>
