[% IF error %]
  <div class="alert-message error"> 
    <p>[% error %]</p> 
  </div>
[% END %]

[% IF warning %]
  <div class="alert-message warning"> 
    <p>[% warning %]</p> 
  </div>
[% END %]

[% IF success %]
  <div class="alert-message success"> 
    <p>[% success %]</p> 
  </div>
[% END %]

[% IF message %]
  <div class="alert-message info"> 
    <p>[% message %]</p> 
  </div>
[% END %]
