<h1>Co-op News</h1>

<h2>Infrastructure</h2>
<p>Our city-approved concrete pad and birm is in place, our pumps are flowing well, and our new automated cardlock billing system is taking the load off <a href="http://recyclingalternative.org">Recycling Alternative</a>'s staff members.</p>

<h2>Fuel</h2>
<p>We have several fuel sources that offer locally produced, 100% recycled, <a href="http://en.wikipedia.org/wiki/ASTM_International">ASTM spec</a> biodiesel.  It is much better in the cold season than our older tallow-based fuel.</p>
<p>We're also looking at purchasing fuel from <a href="http://www.cowichanenergy.org/">Cowichan Energy Alternatives</a>, who have just opened a biodiesel production plant in Duncan, BC.</p>

<h2>Taxes</h2>
<p>As of January 1st, 2010 all biodiesel sales must include a retail tax of almost 30¢ per litre!. We include this in our price at the pump.</p>
<p>We are working with the <a href="http://smellbetter.org">Cowichan Biodiesel Co-op</a> and the Victoria Biodiesel Co-op on lobbying the Provincial Government to prevent this tax from perversely affecting our wonderful recycled biodiesel fuel.</p>
