<h1>Vancouver Biodiesel Co-op Refund Policy</H1>
<p>
  The fuel provided by the VBC is always ASTM Certified. However, it is up to the owner's discretion to appropriately blend the fuel depending on their individual vehicle and the weather.  VBC will not be held responsible for rich biodiesel blends that cause vehicle problems including but not limited to: rubber seal problems, fuel line problems, gasket problems, warranty violations, injector problems, fuel filter clogs.  It is up to each member to ensure their vehicle is mechanically sound and able to run biodiesel.
</p>
<p>The pump and cardlock is regularly tested for accuracy, however in extreme weather the biodiesel can gel and stop flowing.  Members should be aware of cold temperature conditions and should follow signage at the pump indicating conditions.</p>
<p>VBC will not issue refunds for fuel purchases.</p>
