$(function() {
    $("#vbc_stats").append(                                                   
        '<p><em>Since July, 2011</em></p><ul><li><strong>Current Price:</strong> $[% prices.fuel_price %]</li><li><strong>Members:</strong> [% stats.active_members %]</li><li><strong>Fuel Sold:</strong> [% stats.fuel_sold_alltime %] Litres</li><li><strong>CO2 Offset:</strong> [% stats.co2_reduction %]kg (<a href="http://www.biomaxfuels.com.au/carbon.html">source</a>)</li></ul>' 
    ); 
});
