<h1>Recent Biodiesel Transactions</h1>
[% INCLUDE message.tt %]
[% IF txns.size %]
  <div class="alert-message info">
    <p>[% IF txns.size == 1 %]One transaction[% ELSE %][% txns.size %] transactions[% END %] found.</p>
  </div>
  [% INCLUDE txn_table.tt %]
[% ELSE %]
  <div class="alert-message warning">
    <p>There are no transactions since July 8th, 2011.</p>
  </div>
[% END %]
