<h1>Biodiesel Un-paid Transactions</h1>
[% IF txns.size %]
<p>Biodiesel transactions that are currently unpaid:</p>
<p>
  <ul>
      <li><a href="/unpaid/process">Process Unpaid Transactions</a></li>
  </ul>
</p>
[% INCLUDE txn_table.tt %]
[% ELSE %]
<p>There are no-unpaid transactions at this time.</p>
[% END %]
