#paymentform td {
    border-bottom: 0px;
}

table {
    margin-bottom: 3px;
}
table td {
    padding: 3px 10px 3px;
}

.field_lable label {

}

label#trnExpMonth, label#trnExpYear {
    width: 40px;
}

#trnExpMonth, #trnExpYear {
    display: block;
}
